/* 
================================================
header
================================================
*/
body > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background: #333;
  color: #aaa;
  box-shadow: 0 0 .6em rgba(17, 17, 17, 0.3);
  z-index: 1001;
}


/* 
================================================
aside
================================================
*/
body > aside {
  position: fixed;
  z-index: 1000;
  top: 5rem;
  left: 0;
  bottom: 0;
  background: #222;
  font-size: 1.3rem;
  padding: 1rem;
  width: 18rem;
  border-right: 2px solid #333;

  transform: translateX(-100%);
  transition: 500ms cubic-bezier(0.09, 0.68, 0, 0.99);
  visibility: hidden;

  &.off-screen {
    transform: translateX(-100%);
    transition: 500ms cubic-bezier(0.09, 0.68, 0, 0.99);
    visibility: hidden;
  }
  &.show, &.off-screen.show {
    visibility: visible;
    transform: translateX(0);
  }
}


/* 
================================================
main
================================================
*/
main {
  padding: 1rem 1.5rem;
}


/* Larger than desktop */
@media (min-width: @bp-larger-than-desktop) {

  body {
    display: table;
    width: 100%;
  }

  body > aside {
    padding-top: 8rem;
    position: inherit;
    display: table-cell;
    vertical-align: top;
    visibility: inherit;
    transform: inherit;
  }

  body > main {
    display: table-cell;
    border-left: 2px solid @border-color--subtle;
  }
}