/* 
================================================
app-bar component
================================================

Provides fixed area for application title and application level actions

.app-bar
  .app-title
  .common-actions
*/


/*Utility - put children in a row centered horizontally */
.horizontally-align-children-center {
  display: flex;
  flex-flow: row;
  align-items: center;
}


.app-bar {
  .horizontally-align-children-center;
  position: static;
  min-height: 4rem;
  height: 4rem;
  padding: 0 0.5rem;

  background-color: rgba(255, 255, 255, 0.93);

  font-size: 1.5rem; 
  line-height: 1.5;

  a, .icon {
    line-height: 4rem;
  }
}


.app-title {
  .horizontally-align-children-center;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}


.action-bar {
  .horizontally-align-children-center;

  flex: 1;
  justify-content: flex-end;
}


.action-menu {
  .horizontally-align-children-center;

  margin-left: 2rem;  

  ul {
    display: flex;
    flex-flow: row;
    align-items: center;

    padding: 0;
    margin: 0;

    list-style: none;
    text-align: right;
  }

  li {
    padding: 0;
    margin: 0;

    list-style: none;
    display: inline-block;
    margin-left: 1rem;
  }

  li:first-child {
    margin-left: 0;
  }

  button, input, textarea, select {
    margin: 0;
  }

  &:first-child {
    margin-left: 0;
  }
}


.action-menu-collapsible {
  ul {
    display: none;    
  }
}


.action-menu-collapsible.is-expanded {
  ul {
    display: flex;
    flex-flow: column;

    top: 4rem;
    right: 0;
    position: fixed;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgba(50, 50, 50, 0.95);
    border-top: none;
    width: 100%;
    opacity: 0.9;

    li {
      width: 100%;
      padding: 0.5rem;
      text-align: right;
    }
  }
}

/* make sure the app title is as close to the edge as possible */
.app-title .action-menu {
  margin-left: 0;
  margin-right: 1rem;

  &:first-child {
    margin-right: 0;
  }
}


/* Larger than desktop */
@media (min-width: @bp-larger-than-desktop) {

  .toggle-menu {
    display: none;
  }

  .action-menu-collapsible {
    ul {
      display: flex;
    }
  }

}
