.hd-swatches {
  li {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #000;
    margin-right: 0.5rem;
  }

  .canvas-color {
    background-color: @canvas-color;
  }

  .primary-color {
    background-color: @primary-color;
  }
  .primary-color--dark {
    background-color: @primary-color--dark;
  }
  .primary-color--light {
    background-color: @primary-color--light;
  }
  .primary-color--muted {
    background-color: @primary-color--muted;
  }

  .complementary-color {
    background-color: @complementary-color;
  }
  .complementary-color--dark {
    background-color: @complementary-color--dark;
  }
  .complementary-color--light {
    background-color: @complementary-color--light;
  }
  .complementary-color--muted {
    background-color: @complementary-color--muted;
  }

  .accent-color {
    background-color: @accent-color;
  }
  .accent-color--dark {
    background-color: @accent-color--dark;
  }
  .accent-color--light {
    background-color: @accent-color--light;
  }
  .accent-color--muted {
    background-color: @accent-color--muted;
  }
  
  .positive-accent-color {
    background-color: @positive-accent-color;
  }
  .negative-accent-color {
    background-color: @negative-accent-color;
  }


  .text-color {
    background-color: @text-color;
  }
  .text-color--secondary {
    background-color: @text-color--secondary;
  }
  .text-color--subtle {
    background-color: @text-color--subtle;
  }

  .alt-text-color {
    background-color: @alt-text-color;
  }
  .alt-text-color--secondary {
    background-color: @alt-text-color--secondary;
  }
  .alt-text-color--subtle {
    background-color: @alt-text-color--subtle;
  }

  .link-color {
    background-color: @link-color;
  }
  .link-color--active {
    background-color: @link-color--active;
  }
  .link-color--hover {
    background-color: @link-color--hover;
  }
  .link-color--visited {
    background-color: @link-color--visited;
  }

  .divider-color {
    background-color: @divider-color;
  }

}