/* 
================================================
VARIABLES
================================================
*/
// breakpoints
@bp-larger-than-mobile    : 400px;
@bp-larger-than-phablet   : 550px;
@bp-larger-than-tablet    : 750px;
@bp-larger-than-desktop   : 1000px;
@bp-larger-than-desktophd : 1200px;

// typography (baseline)
@preferred-font: 'Open Sans';
@font-family: @preferred-font,'Helvetica Neue',Helvetica,Arial,sans-serif;

// colors
@primary-color: #33c3f0;
@secondary-color: #555;

@border-color: #bbb;
@border-color--subtle: #333434;
@border-color--loud: #E1E1E1;

@bg-color: #242628;
@bg-color--muted: #333;
@bg-color--subtle: #111;
@bg-color--loud: #F1F1F1;

@text-color: #888;
@text-color--subtle: #444;
@text-color--loud: #bbb;

@link-color: #3b8bba;
@link-color--active: #0074d9;
@link-color--hover: #0074d9;
@link-color--visited: #999;

// misc
@border-radius: 0;